@import "global.css";

.calendar-head {
 text-align: center;
  font-size: 50px;
  font-family: 'Boogaloo', cursive;
  text-shadow: 2px 2px 5px var(--dark-purple);
  margin-bottom: 20px;
  }

  .table {
    color: var(--dark-purple);
    background-color: var(--light-purple);
  }