@import "global.css";

.calendar-head {
  text-align: center;
  font-size: 50px;
  font-family: 'Boogaloo', cursive;
  text-shadow: 2px 2px 5px var(--dark-purple);
  margin-bottom: 20px;
  }

  .table {
    color: var(--dark-purple);
    background-color: var(--light-purple);
    text-align: center;
  }

  #title-row {
    margin-top: 18vh !important;
  }
  
  .table-row {
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  h2 {
      font-size: 30px;
      font-family: 'Boogaloo';
  }
  
  h3 {
      font-size: 20px;
      font-family: 'Boogaloo';
  }