#title-row {
  margin-top: 18vh !important;
}

.button-row {
  margin-top: 35px;
}

.cca-head {
  text-align: center;
  font-size: 50px;
  font-family: 'Boogaloo', cursive;
  text-shadow: 2px 2px 5px var(--dark-purple);
}
